<div id="services" class="service-style-three pb-70">
    <div class="container">
        <div class="section-title">
            <h2>Services I Provide for Clients</h2>
        </div>
        <div class="row">
            <div class="col-lg-4 col-sm-6">
                <div class="service-items">
                    <i class="flaticon-medical-app"></i>
                    <h3>Mobile App Development</h3>
                    <p>Mobile Developer focused on mobile app development using Flutter, a modern framework from Google that enables the creation of Android and iOS apps with a single codebase. I am ready to help you build fast, responsive, and production-ready apps.</p>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="service-items">
                    <i class="flaticon-web-programming"></i>
                    <h3>Web Development</h3>
                    <p>provides professional, fast, and customized website creation services for your business needs.
                        With experience in frontend development, I am ready to help you build modern,
                        responsive, and easy-to-use digital solutions.</p>
                </div>
            </div>

            <div class="col-lg-4 col-sm-6">
                <div class="service-items">
                    <i class="flaticon-ui"></i>
                    <h3>Analyst</h3>
                    <p>System Analyst who focuses on designing, analyzing, and optimizing information systems according to business needs. With a systematic approach and strong communication between business and technical teams, I help ensure that the solutions built are truly effective, efficient, and on target.</p>
                </div>
            </div>
        </div>
    </div>
</div>