<div id="home" class="main-banner banner-style-four">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-6">
                        <div class="banner-text">
                            <span>Hello</span>
                            <h1>I’m Idlal Maulana Wahid</h1>
                            <p>Mobile Developer & Frontend Web Developer with over 6 years of experience in building
                                scalable,</p>
                            <div class="banner-btn">
                                <a href="https://wa.me/6281286475051" target="_blank">Lets Talk!</a>
                                <a href="https://drive.google.com/file/d/1Jz9uZhWjeFFDl5Ara3tnhpCsrjzVeUyY/view?usp=drive_link"
                                    target="_blank" class="cv-btn">Download CV</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="banner-shape">
    <img src="img/shape/home-shape.png" alt="shape">
    <img src="img/shape/home-shape-two.png" alt="shape">
    <img src="img/shape/home-shape-four.png" alt="shape">
</div>