<div id="showcase" class="show-case-section pt-100 pb-70">
    <div class="container">
        <div class="section-title">
            <h2>My Latest Works As Showcase</h2>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="showcase-card">
                    <img src="img/personal-portfolio/showcase/OS.png" alt="showcase image">
                    <div class="showcsae-text">
                        <h3>Orange Smart</h3>
                        <p>This application contains applications for insurance customers,</p>
                    </div>
                    <div class="shoscase-hover">
                        <div class="d-table">
                            <div class="d-table-cell">
                                <h3>Mobile App</h3>
                                <p>This application contains applications for insurance customers, there is claim
                                    information, claim submission, benefit information, hospital/provider information,
                                    and health information.
                                    made using Fluter, Bloc, Dart, firebase, and is currently migrating to flutter</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="showcase-card">
                    <img src="img/personal-portfolio/showcase/app-tourism.png" alt="showcase image">
                    <div class="showcsae-text">
                        <h3>Monalisa Halimun Salak</h3>
                        <p>This application contains information about online booking to Indonesian national parks.</p>
                    </div>
                    <div class="shoscase-hover">
                        <div class="d-table">
                            <div class="d-table-cell">
                                <h3>Monalisa Halimun Salak</h3>
                                <p>This application contains information about online booking for tourist visits to
                                    Indonesian national parks, there are online booking features for tourism and
                                    research submissions, and tourist information in the Mount Halimun Salak National
                                    Park, register/login with google. developed using the flutter and firebase
                                    frameworks.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="showcase-card">
                    <img src="img/personal-portfolio/showcase/psikolog.png" alt="showcase image">
                    <div class="showcsae-text">
                        <h3>Mentalhealing.id</h3>
                        <p>This application contains consultations with psychologists</p>
                    </div>
                    <div class="shoscase-hover">
                        <div class="d-table">
                            <div class="d-table-cell">
                                <h3>Mentalhealing.id</h3>
                                <p>This application contains consultations with psychologists, we can book
                                    consultations, choose psychologists, payment transactions, information about
                                    psychology, promos, register/login with google
                                    developed using the flutter and firebase frameworks</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="showcase-card">
                    <img src="img/personal-portfolio/showcase/website-ecommerce.png" alt="showcase image">
                    <div class="showcsae-text">
                        <h3>Website Ecommerce</h3>
                        <p>This application contains information about insurance product sales and event information,
                            created using Angular and Firebase Analytics.</p>
                    </div>
                    <div class="shoscase-hover">
                        <div class="d-table">
                            <div class="d-table-cell">
                                <h3>Website Ecommerce</h3>
                                <p>This application contains information about insurance product sales and event
                                    information, created using Angular and Firebase Analytics.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="showcase-card">
                    <img src="img/personal-portfolio/showcase/HS.png" alt="showcase image">
                    <div class="showcsae-text">
                        <h3>Hanwha Smart</h3>
                        <p>This application contains applications for insurance customers,</p>
                    </div>
                    <div class="shoscase-hover">
                        <div class="d-table">
                            <div class="d-table-cell">
                                <h3>Mobile App</h3>
                                <p>This application contains applications for insurance customers, there is claim
                                    information, claim submission, benefit information, hospital/provider information,
                                    and health information.
                                    made using IONIC Angular, firebase Analytics, and is currently migrating to flutter</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="showcase-card">
                    <img src="img/personal-portfolio/showcase/smart-app.png" alt="showcase image">
                    <div class="showcsae-text">
                        <h3>Smart Home</h3>
                        <p>Slicing UI with flutter, by request client</p>
                    </div>
                    <div class="shoscase-hover">
                        <div class="d-table">
                            <div class="d-table-cell">
                                <h3>Smart Home Application</h3>
                                <p>Slicing UI with flutter, by request client</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="showcase-card">
                    <img src="img/personal-portfolio/showcase/movie-app.png" alt="showcase image">
                    <div class="showcsae-text">
                        <h3>Movie Application</h3>
                        <p>Slicing UI with flutter, by request client</p>
                    </div>
                    <div class="shoscase-hover">
                        <div class="d-table">
                            <div class="d-table-cell">
                                <h3>Movie Application</h3>
                                <p>Slicing UI with flutter, by request client</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="showcase-card">
                    <img src="img/personal-portfolio/showcase/ecommerce.png" alt="showcase image">
                    <div class="showcsae-text">
                        <h3>Ecommerce Application</h3>
                        <p>Slicing UI with flutter, by request client</p>
                    </div>
                    <div class="shoscase-hover">
                        <div class="d-table">
                            <div class="d-table-cell">
                                <h3>Ecommerce Application</h3>
                                <p>Slicing UI with flutter, by request client</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="showcase-card">
                    <img src="img/personal-portfolio/showcase/waterfall-app.png" alt="showcase image">
                    <div class="showcsae-text">
                        <h3>Tourism Destination Application</h3>
                        <p>Slicing UI with flutter</p>
                    </div>
                    <div class="shoscase-hover">
                        <div class="d-table">
                            <div class="d-table-cell">
                                <h3>UI Design</h3>
                                <p>Slicing UI with flutter.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>